GRPC_ADDR=localhost:4000
MONGO_ADDR=mongodb://root:example@mongodb:27017/
MONGO_DATABASE_NAME=Eskiwi
AWS_AVATAR_BUCKET_URL=avatars.eskiwi.com
JWTSECRET=@tragatela@
S3ACCESS=
S3SECRET=
S3REGION=eu-west-3